//styling for dashboard
.dash-container{
    background-color: $Background;
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}
.dash{
    margin: 0rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
//styling for metrics card at top of the dashboard
.metrics{
    display: flex;
    justify-content: space-between;

}
.metrics-container{
    margin: 0rem 1rem 0rem 1rem;
    width: 25%;
    border-radius: 1rem;
}
.metrics-container p{
    font-size:x-large;
}
.metrics-container h3{
    font-size: xx-large;
}
.dash-cards{
    display: flex;
    justify-content: space-around;
}
.icon{
padding: 0.25rem;
display: flex;
justify-content: flex-end;
align-items: center;
}
//styling for graph card
.graph-card{
    border-radius: 2rem;
    margin: 1rem;
}
.graph-body{
    display: flex;
}
//styling for schedule card
.schedule-card{
    border-radius: 2rem;
    width: 100%;
    margin: 1rem;
}
.schedule-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.event-item{
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
}
.event-bar{
    border: 2px solid #9BDD7C;
    margin-right: 1rem;
}

//styling for product card

.product-card{
    border-radius: 2rem;
    width: 100%;
    margin:1rem;
}
.product-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.product-body{
    width: 100%;
}
