.sign{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $Background;
}
.sign-form{
    color: black;
    padding: 0rem 25rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
}
.show-password{
    background-color: $Background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 0rem;
    border-radius: 0.5rem;
}
.show-password input{
    width: 100%;
}

button{
    background-color: white;
    cursor: pointer;
    color: $Light-Grey;
    font-size: large;
    border-radius: 1rem;
}
.google-login{
    background-color: white;
    cursor: pointer;
    border-radius: 1rem;
}

.form-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form-header h3{
    font-size: 3rem;
}

.form-body{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.options{
    display: flex;
    width: 100%;
    margin: 1rem 1rem 1rem 0rem;
    justify-content: space-between;
}



.Card{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem ;
}
.Card button{
    background-color: $Primary;
    color: white;
}

//for sign-up component only
.name-section{
    display: flex;
    justify-content: space-between;
}

.name{
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
}
.first-name{
    margin-right: 1rem;
}
.last-name{
    margin-left: 1rem;
}
.sign-up-card,.sign-in-card{
    border-radius: 2rem;
}
.sign-in-card button,.sign-up-card button{
    font-size: 1.5rem;
}
.sign-in-account,.sign-up-account{
    padding-left: 3rem;
}
.gray-text{
    color: $Light-Grey;
}